{% extends "base.html" %}

{% block content %}

<div class="form-box">
    <div class="tab-container">
        <a href="{{ url_for('student_login') }}" class="tab-button">Student</a>
        <a href="{{ url_for('mentor_login') }}" class="tab-button active">Mentor</a>
        <a href="{{ url_for('security_login') }}" class="tab-button">Security</a>
        <a href="{{ url_for('admin_login') }}" class="tab-button">Admin</a>
    </div>

    <h2>Mentor Login</h2>

    <form method="POST">
        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit" class="btn full">Login</button>
    </form>

    <p class="small-text">
    New mentor?
    <a href="{{ url_for('mentor_register') }}">Register here</a>
</p>

</div>

{% endblock %}